#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/teacher/build/
/teacher/step_1/build/
/teacher/step_1/out/

/teacher/step_2/build/
/teacher/step_2/out/

/teacher/step_3/build/
/teacher/step_3/out/

/teacher/step_4/build/
/teacher/step_4/out/

/teacher/step_5/build/
/teacher/step_5/out/

/teacher/step_6/build/
/teacher/step_6/out/

/teacher/step_7/build/
/teacher/step_7/out/

/teacher/step_8/build/
/teacher/step_8/out/

/teacher/step_9/build/
/teacher/step_9/out/

/teacher/step_10/build/
/teacher/step_10/out/

/teacher/step_11/build/
/teacher/step_11/out/

/teacher/step_12/build/
/teacher/step_12/out/

/teacher/step_13/build/
/teacher/step_13/out/

/teacher/step_14/build/
/teacher/step_14/out/

/teacher/step_15/build/
/teacher/step_15/out/

/teacher/step_16/build/
/teacher/step_16/out/

/teacher/step_17/build/
/teacher/step_17/out/

/teacher/step_18/build/
/teacher/step_18/out/

/teacher/step_19/build/
/teacher/step_19/out/

/teacher/step_20/build/
/teacher/step_20/out/

/teacher/step_21/build/
/teacher/step_21/out/

/teacher/step_22/build/
/teacher/step_22/out/

/teacher/step_23/build/
/teacher/step_23/out/

/teacher/step_24/build/
/teacher/step_24/out/
