#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/logs

/teacher/build/
/teacher/step_1/build/
/teacher/step_1/out/

/teacher/step_2/build/
/teacher/step_2/out/

/teacher/step_3/build/
/teacher/step_3/out/

/teacher/step_4/build/
/teacher/step_4/out/

/teacher/step_5/build/
/teacher/step_5/out/

/teacher/step_6/build/
/teacher/step_6/out/

/teacher/step_7/build/
/teacher/step_7/out/

/teacher/step_8/build/
/teacher/step_8/out/

/teacher/step_9/build/
/teacher/step_9/out/

/teacher/step_10/build/
/teacher/step_10/out/

/teacher/step_11/build/
/teacher/step_11/out/

/teacher/step_12/build/
/teacher/step_12/out/

/teacher/step_13/build/
/teacher/step_13/out/

/teacher/step_14/build/
/teacher/step_14/out/

/teacher/step_15/build/
/teacher/step_15/out/

/teacher/step_16/build/
/teacher/step_16/out/

/teacher/step_17/build/
/teacher/step_17/out/

/teacher/step_18/build/
/teacher/step_18/out/

/teacher/step_19/build/
/teacher/step_19/out/

/teacher/step_20/build/
/teacher/step_20/out/

/teacher/step_21/build/
/teacher/step_21/out/

/teacher/step_22/build/
/teacher/step_22/out/

/teacher/step_23/build/
/teacher/step_23/out/

/teacher/step_24/build/
/teacher/step_24/out/

/teacher/step_25/build/
/teacher/step_25/out/

/teacher/step_26/build/
/teacher/step_26/out/

/teacher/step_27/build/
/teacher/step_27/out/
/teacher/step_27/logs/

/teacher/step_28/build/
/teacher/step_28/out/
/teacher/step_28/logs/

/teacher/step_29/build/
/teacher/step_29/out/
/teacher/step_29/logs/

/teacher/step_30/build/
/teacher/step_30/out/
/teacher/step_30/logs/

/teacher/step_31/build/
/teacher/step_31/out/
/teacher/step_31/logs/

/teacher/step_32/build/
/teacher/step_32/out/
/teacher/step_32/logs/

/teacher/step_33/build/
/teacher/step_33/out/
/teacher/step_33/logs/

/teacher/step_34/build/
/teacher/step_34/out/
/teacher/step_34/logs/

/teacher/step_35/build/
/teacher/step_35/out/
/teacher/step_35/logs/

/teacher/step_36/build/
/teacher/step_36/out/
/teacher/step_36/logs/

/teacher/step_37/build/
/teacher/step_37/out/
/teacher/step_37/logs/

/teacher/step_38/build/
/teacher/step_38/out/
/teacher/step_38/logs/

/teacher/step_39/build/
/teacher/step_39/out/
/teacher/step_39/logs/

/teacher/step_40/build/
/teacher/step_40/out/
/teacher/step_40/logs/

/teacher/step_41/build/
/teacher/step_41/out/
/teacher/step_41/logs/

/teacher/step_42/build/
/teacher/step_42/out/
/teacher/step_42/logs/

/teacher/step_43/build/
/teacher/step_43/out/
/teacher/step_43/logs/

/teacher/step_44/build/
/teacher/step_44/out/
/teacher/step_44/logs/

/teacher/step_45/build/
/teacher/step_45/out/
/teacher/step_45/logs/

/teacher/step_46/build/
/teacher/step_46/out/
/teacher/step_46/logs/

/teacher/step_47/build/
/teacher/step_47/out/
/teacher/step_47/logs/

/teacher/step_48/build/
/teacher/step_48/out/
/teacher/step_48/logs/

/teacher/step_49/build/
/teacher/step_49/out/
/teacher/step_49/logs/

/teacher/step_50/build/
/teacher/step_50/out/
/teacher/step_50/logs/

/teacher/step_51/build/
/teacher/step_51/out/
/teacher/step_51/logs/

/teacher/step_52/build/
/teacher/step_52/out/
/teacher/step_52/logs/

/teacher/step_53/build/
/teacher/step_53/out/
/teacher/step_53/logs/

/teacher/step_54/build/
/teacher/step_54/out/
/teacher/step_54/logs/

/teacher/step_55/build/
/teacher/step_55/out/
/teacher/step_55/logs/

/teacher/step_56/build/
/teacher/step_56/out/
/teacher/step_56/logs/

/teacher/step_57/build/
/teacher/step_57/out/
/teacher/step_57/logs/

/teacher/step_58/build/
/teacher/step_58/out/
/teacher/step_58/logs/

/teacher/step_59/build/
/teacher/step_59/out/
/teacher/step_59/logs/

/teacher/step_60/build/
/teacher/step_60/out/
/teacher/step_60/logs/

/teacher/step_61/build/
/teacher/step_61/out/
/teacher/step_61/logs/

/teacher/step_62/build/
/teacher/step_62/out/
/teacher/step_62/logs/

/teacher/step_63/build/
/teacher/step_63/out/
/teacher/step_63/logs/

/teacher/step_64/build/
/teacher/step_64/out/
/teacher/step_64/logs/

/teacher/step_65/build/
/teacher/step_65/out/
/teacher/step_65/logs/

/teacher/step_66/build/
/teacher/step_66/out/
/teacher/step_66/logs/

/teacher/step_67/build/
/teacher/step_67/out/
/teacher/step_67/logs/

/teacher/step_68/build/
/teacher/step_68/out/
/teacher/step_68/logs/

/teacher/step_69/build/
/teacher/step_69/out/
/teacher/step_69/logs/

/teacher/step_70/build/
/teacher/step_70/out/
/teacher/step_70/logs/

/teacher/step_71/build/
/teacher/step_71/out/
/teacher/step_71/logs/

/teacher/step_72/build/
/teacher/step_72/out/
/teacher/step_72/logs/

/teacher/step_73/build/
/teacher/step_73/out/
/teacher/step_73/logs/

/teacher/step_74/build/
/teacher/step_74/out/
/teacher/step_74/logs/

/teacher/step_75/build/
/teacher/step_75/out/
/teacher/step_75/logs/

/teacher/step_76/build/
/teacher/step_76/out/
/teacher/step_76/logs/

/teacher/step_77/build/
/teacher/step_77/out/
/teacher/step_77/logs/

/teacher/step_78/build/
/teacher/step_78/out/
/teacher/step_78/logs/

/teacher/step_79/build/
/teacher/step_79/out/
/teacher/step_79/logs/

/teacher/step_80/build/
/teacher/step_80/out/
/teacher/step_80/logs/

/teacher/step_81/build/
/teacher/step_81/out/
/teacher/step_81/logs/

/teacher/step_82/build/
/teacher/step_82/out/
/teacher/step_82/logs/

/teacher/step_83/build/
/teacher/step_83/out/
/teacher/step_83/logs/

/teacher/step_84/build/
/teacher/step_84/out/
/teacher/step_84/logs/

/teacher/step_85/build/
/teacher/step_85/out/
/teacher/step_85/logs/

/teacher/step_86/build/
/teacher/step_86/out/
/teacher/step_86/logs/

/teacher/step_87/build/
/teacher/step_87/out/
/teacher/step_87/logs/

/teacher/step_88/build/
/teacher/step_88/out/
/teacher/step_88/logs/

/teacher/step_89/build/
/teacher/step_89/out/
/teacher/step_89/logs/
