#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/teacher/build/
/teacher/step_1/build/
/teacher/step_1/out/

/teacher/step_2/build/
/teacher/step_2/out/

/teacher/step_3/build/
/teacher/step_3/out/

/teacher/step_4/build/
/teacher/step_4/out/

/teacher/step_5/build/
/teacher/step_5/out/

/teacher/step_6/build/
/teacher/step_6/out/

/teacher/step_7/build/
/teacher/step_7/out/

/teacher/step_8/build/
/teacher/step_8/out/

/teacher/step_9/build/
/teacher/step_9/out/

/teacher/step_10/build/
/teacher/step_10/out/
